.trainers-index {
    margin-top: 5%;
    margin-bottom: 4%;
  }
  
  .trainers-index .member {
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, rgb(60, 57, 57), transparent 90%);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trainers-index .member img {
    height: 300px; 
    width: 100%; 
    object-fit: cover; 
    margin: -1px -1px 30px -1px;
  }
  
  .trainers-index .member .member-content {
    padding: 0 20px 30px 20px;
  }
  
  .trainers-index .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .trainers-index .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: color-mix(in srgb, rgb(60, 57, 57), transparent 20%);
  }
  
  .trainers-index .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: color-mix(in srgb, rgb(60, 57, 57), transparent 40%);
  }
  
  .trainers-index .member .social {
    margin-top: 15px;
  }
  
  .trainers-index .member .social a {
    color: color-mix(in srgb, rgb(60, 57, 57), transparent 60%);
    transition: 0.3s;
    margin-left: 1%;
  }
  
  .trainers-index .member .social a:hover {
    color: var(--accent-color);
  }
  
  .trainers-index .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  